<div class="container">
    <div class="row">
        <!-- SERVICES HEADING -->
        <div class="col-lg-12 text-center padding-0">
            <h2 class="section-heading">Nos encargamos de la carga administrativa para que tu no tengas que hacerlo.</h2>
            <span class="separator"></span>
        </div>
        <div class="col-lg-8 col-lg-offset-2  text-center">
			<p class="section-subheading ">El único software de valuación diseñado especialmente para que pases menos tiempo frente a la computadora y más haciendo el trabajo que realmente importa.</p>
		</div>
        <!-- END SERVICES HEADING -->
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="icon one"></div>
            <h4 class="service-heading">Modernízate y deja atrás las hojas de Excel</h4>
            <p class="">5 horas de trabajo en Excel, equivalen a solo una hora aprovechada en SIAV.</p>
            <!-- <a href="/producto/show_tab1" class="" >Leer más</a> -->
        </div>
        <div class="col-md-3">
            <div class="icon two"></div>
            <h4 class="service-heading">Toma mejores decisiones</h4>
            <p class="">Mide, revisa y administra el crecimineto de tus ingresos en 5 minutos, dirige su trayectoria y enfócate en los clientes de mayor beneficiencia para ti. </p>
            <!-- <a href="/producto2/2" class="" >Leer más</a> -->
        </div>
        <div class="col-md-3">
            <div class="icon three"></div>
            <h4 class="service-heading">Una perspectiva completa siempre a la mano</h4>
            <p class="">Reduce errores manteniendo la información de tus clientes en un solo lugar.</p>
            <!-- <a href="/producto/show_tab3" class="" >Leer más</a> -->
        </div>
        <div class="col-md-3 last">
            <div class="icon four"></div>
            <h4 class="service-heading">Datos siempre accesibles para ti</h4>
            <p class="">Tu información siempre disponible en línea, incluso tus avalúos y comparables.</p>
            <!-- <a href="/producto/show_tab4" class="" >Leer más</a> -->
        </div>
    </div>
</div>