<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="SIAV - Lleva la valuación al siguiente nivel">
        <meta name="author" content="Alluxi" />
        <!-- SITE TITLE -->
        <title>SIAV</title>
        <!-- STYLESHEETS -->
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/responsive.css" rel="stylesheet">
        <!-- <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet"> -->
        <!-- DEMO COLORS  -->
        <link href="{{ STATIC_URL }}css/colors/cyan.css" class="css-color" rel="stylesheet">

        <!-- FAVICON  -->
        <link rel="icon" href="{{ STATIC_URL }}img/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900|Arimo:400,700" rel="stylesheet">
    </head>
    <body id="{{ page }}">
        <!-- PRELOADER -->
        <div id="preloader">
            <div class="spinner"></div>
        </div>
        <!-- MAIN NAV -->
        <nav class="navbar navbar-default navbar-fixed-top {%block nav-class %}{% endblock %}">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- MAIN NAV LOGO -->
                    <a class="logo page-scroll" href="{% url 'index' %}">
                        <img src="{{ STATIC_URL }}img/logo_full.png" class="img-responsive hidden-xs hidden-sm" alt="">
                        <img src="{{ STATIC_URL }}img/logo.png" class="img-responsive visible-xs visible-sm" alt="">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <!-- MAIN NAV LINKS -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% block index %}{% endblock %}">
                            <a class="page-scroll" href="{% url 'index' %}">Inicio</a>
                        </li>
                        <li class="{% block producto %}{% endblock %}">
                            <a class="page-scroll" href="{% url 'producto' %}">Producto</a>
                        </li>
                        <li class="{% block planes %}{% endblock %}">
                            <a class="page-scroll" href="{% url 'planes' %}">Paquetes</a>
                        </li>
                        <li class="{% block faq %}{% endblock %}">
                            <a class="page-scroll" href="{% url 'faq' %}">faq's</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% if page != 'home_page' %}{% url 'index' %}{% endif %}#contact">Contacto</a>
                        </li>
                        <li>
                            <a href="http://siav.mx/" class="primary-button button-inverse siav" >Inicia Ahora</a>
                        </li>
                    </ul>
                    <!-- END MAIN NAV LINKS -->
                </div>
            </div>
        </nav>
        <!-- END MAIN NAV -->
        {% block content %} {% endblock %}
        <!-- FOOTER -->
        <footer>
            <div class="container">
                <div class="row">
                    <!-- UPPER FOOTER -->
                    <div class="upper-footer">
                        <div class="pull-left">
                            <a class="logo page-scroll" href="{% url 'index' %}"><img src="{{ STATIC_URL }}img/logo.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="pull-right">
                            <ul class="footer-nav"> 
                                <li class="{% block producto-footer %}{% endblock %}">
                                    <a class="page-scroll " href="{% url 'producto' %}">Producto</a>
                                </li>
                                <li class="{% block planes-footer %}{% endblock %}">
                                    <a class="page-scroll " href="{% url 'planes' %}">Paquetes</a>
                                </li>
                                <li class="{% block faq-footer %}{% endblock %}">
                                    <a class="page-scroll " href="{% url 'faq' %}">faq's</a>
                                </li>
                                <li class="">
                                    <a class="page-scroll" href="{% if page != 'home_page' %}{% url 'index' %}{% endif %}#contact">Contacto</a>
                                </li> 
                            </ul>
                            <ul class="footer-secondary-nav">
                                <li class="">
                                    <a class="page-scroll" href="tel:+528115001600"><span class="fa fa-phone"></span>+52-(811)-500-1600</a>
                                </li>
                                <li class="">
                                    <a class="page-scroll" href="mailto:hola@alluxi.mx"><span class="fa fa-envelope"></span>hola@alluxi.mx</a>
                                </li>
                                <li class="">
                                    <a class="page-scroll" href="https://goo.gl/maps/JhqryAiCZCU2" target="_blank"><span class="fa fa-map-marker"></span>América 327 Sur, Centro. Mty, MX</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END UPPER FOOTER -->
                    <!-- LOWER FOOTER -->
                    <div class="lower-footer">
                        <div class="pull-left">
                            <span>© 2016 Todos los derehos reservados </span>
                            <a href="http://siav.mx/static/documents/avisodeprivacidad_SIAV.pdf" target="_blank"> Acuerdo de Privacidad </a>
                        </div>
                        <div class="pull-right">
                            <a href="http://www.facebook.com/alluxi" target="_blank"><span class="fa fa-facebook"></span></a>
                            <a href="http://twitter.com/alluximx" target="_blank"><span class="fa fa-twitter"></span></a>
                            <a href="http://www.instagram.com/alluximx/" target="_blank"><span class="fa fa-instagram"></span></a>
                        </div>
                    </div>
                    <!-- END LOWER FOOTER -->
                </div>
            </div>
        </footer>
        <!-- END FOOTER -->
        <!-- SCRIPTS -->
        <!-- jQuery & Bootstrap -->
        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.easing.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <!-- smoothscroll  -->
        <script src="{{ STATIC_URL }}js/smoothscroll.js"></script>
        <!-- piechart  -->
        <script src="{{ STATIC_URL }}js/jquery.easytabs.min.js"></script>
        <!-- tabs  -->
        <script src="{{ STATIC_URL }}js/piechart.js"></script>
        <!-- sliders -->
        <script src="{{ STATIC_URL }}js/owl.carousel.min.js"></script>
        <!-- contact form -->
        <script src="{{ STATIC_URL }}js/jqBootstrapValidation.js"></script>
        <script src="{{ STATIC_URL }}js/classie.js"></script>
        {% block scripts %}{% endblock %}
        <!-- custom script -->
        <script src="{{ STATIC_URL }}js/scripts.js"></script>
    </body>
</html>
