<div class="contact-map-container">
    <!-- GOOGLE MAP-->
    <div id="map"></div>
</div>
<div class="container">
    <div class="contact-form-container">
        <!-- CONTACT HEADING -->
        <div class="row">
            <h2 class="section-heading">Contáctanos</h2>
            <p class="section-subheading ">Ten la libertad de escribirnos, a la brevedad nos pondremos en contacto.</p>
        </div>
        <!-- END CONTACT HEADING -->
        <div class="row">
            <!-- CONTACT FORM -->
           		<form id="contactform">
					<div class="row"> 
					    <div class="form-group">
				        	{{forma.nombre}} 
				        </div>
						<div class="form-group pull-right">
				           {{forma.email}} 
				        </div>
				        <div class="form-group form-textarea">
				           {{forma.mensaje}} 
				        </div>
				        <div class="clearfix"></div>
				        <div class="text-center">
                            <div id="success"></div>
                            <input type="submit" value="enviar" name="submit" id="submit" class="btn btn-xl" title="" />
                        </div>
					</div>
					{% csrf_token %}        
				</form>
            <!-- END CONTACT FORM -->
        </div>
    </div>
</div>