{% extends "base.html" %}
{% block faq %}active{% endblock %}
{% block faq-footer %}active{% endblock %}
{% block content %}
<!-- HEADER -->
<header id="header">
    <div class="container">
        <div class="intro-text">
            <div class="row">
                <div class="col-md-5 col-lg-5 col-lg-offset-1 padding-0">
                    <h1 class="intro-lead-in">¿Tienes dudas?</h1>
                    <span class="intro-heading">Consulta nuestra sección de preguntas y respuestas para aclarar cualquier duda que tengas.</span>
                </div>
                <div class="col-md-7 col-lg-6 header-dashboard padding-0 md-center">
                    <img src="{{ STATIC_URL }}img/image-faq.png" class="dashboard" alt="">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER -->
<!-- FAQs -->
<section id="faqs">
    <div class="container">
        <div class="row panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							¡Existe algún descuento?
						</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
					    Nos encontramos en la etapa de lanzamiento de nuestra plataforma por lo que ahora mismo no tiene ningun costo ni límite de usarios.
                    </div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							¿Que necesito para empezar a utilizar SIAV?
						</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
					    Solamente da click en "Iniciar ahora" y regístrate. Una vez registrado puedes comenzar a utilizar SIAV para administrat tu negocio.
                    </div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							¿SIAV es fácil de usar?
						</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
					    La plataforma está diseñada para ser intuitiva desde el primer uso, sin embargo si tienes cualquier duda no dudes en agendar una sesión de asesoría con nostros por correo electrónico o por teléfono. Además puedes descargar la guía de usuario donde te explicamos como hacer uso de SIAV paso por paso.
                    </div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingTwo">
					<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Soy valuador independiente, ¿Como se si SIAV es adecuado para mi?
						</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
						<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingThree">
					<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							¿Que costo tiene SIAV y como puedo realizar los pagos?
						</a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body">
						El plan inicial de hasta 4 empleados tiene un costo de $500 MXN / mensuales. El pago puede realizarse de manera mensual o en un solo pago anual.
                    </div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingThree">
					<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							¿Mi información estará segura?
						</a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body">
					    La seguridad de la información de nuestros clientes es nuestra principal prioridad, por ello realizamos respaldos diarios de nuestros servidores y manejamos altos estándares de seguridad.
                    </div>
				</div>
			</div>
		</div>
    </div>
</section>
<!-- END FAQs -->
{% endblock %}
