<div class="container">
    <div class="row">
        <div id=" " class="features-tabs">
            <!-- TAB 1 -->
            <div id="features-tab1">
                <div class="row">
                    <h2 class="section-heading">Estamos para servirte</h2>
                    <p class="section-subheading ">Proveemos soporte por correo, chat y por teléfono en caso de que prefieras hablar con una persona. Nuestro manual de usuario te ayudará a arrancar fácilmente con SIAV.</p>
                </div>
                <a href="#" class="primary-button button-inverse" style="display: none;">Leer más</a>
                <img src="{{ STATIC_URL }}img/soporte.png" class="fadeRight animated" alt="">
            </div>
            <!-- END TAB 1 -->  
        </div>
    </div>
</div>