{% extends "base.html" %}

{%block nav-class %}nav-only{% endblock %}

{% block content %}
<!-- FEATURES -->
        <section id="features-description" class="gray-bg">
            <!-- <div class="container"> -->
                <!-- <div class="row"> -->
                    <div id="features-tabs" class="features-tabs">
                    	<!-- FEATURES TABS -->
						<!-- <div class="container">
                        	<div class="row"> -->
		                        <ul class='tabs'>
		                            <li class='tab col-md-3'><a href="#features-tab1">Modernízate</a></li>
		                            <li class='tab col-md-3'><a href="#features-tab2">Mejores decisiones</a></li>
		                            <li class='tab col-md-3'><a href="#features-tab3">perspectiva completa</a></li>
		                            <li class='tab col-md-3'><a href="#features-tab4">Datos accesibles</a></li>
		                        </ul>
		                   <!--  </div>
		                </div> -->

                        <!-- END FEATURES TABS -->
                        <!-- TAB 1 -->
                        <div id="features-tab1">
                            <div class="part1">
                            	<div class="container">
                            		<div class="row">
                            			<div class="col-md-6 col-md-offset-1">text</div>
                            			<div class="col-md-4">img</div>
                            		</div>
                            		
                            	</div>
                            </div>
                            <div class="part2">
                            	<div class="container">
                            		<div class="row">
                            			<div class="col-md-4 col-md-offset-1">img</div>
                            			<div class="col-md-6 ">text</div>
                            		</div>
                            		
                            	</div>
                            </div>
                            <div class="part3">
                            	<div class="container">
                            		<div class="row">
                            			<div class="col-md-6 col-md-offset-1">text</div>
                            			<div class="col-md-4">img</div>
                            		</div>
                            		
                            	</div>
                            </div>
                        </div>
                        <!-- END TAB 1 -->
                        <!-- TAB 2 -->
                        <div id="features-tab2">
                            <div class="part1">
                            	<div class="container">
                            		<div class="row">
                            			xxx
                            			
                            		</div>
                            		
                            	</div>
                            </div>
                            <div class="part2">
                            	<div class="container">
                            		<div class="row">
                            			xxx
                            			
                            		</div>
                            		
                            	</div>
                            </div>
                            <div class="part3">
                            	<div class="container">
                            		<div class="row">
                            			xxx
                            			
                            		</div>
                            		
                            	</div>
                            </div>
                        </div>
                        <!-- END TAB 2 -->
                        <!-- TAB 3 -->
                        <div id="features-tab3">
                            <div class="part1">
                            	<div class="container">
                            		<div class="row">
                            			xxx
                            			
                            		</div>
                            		
                            	</div>
                            </div>
                            <div class="part2">
                            	<div class="container">
                            		<div class="row">
                            			xxx
                            			
                            		</div>
                            		
                            	</div>
                            </div>
                            <div class="part3">
                            	<div class="container">
                            		<div class="row">
                            			xxx
                            			
                            		</div>
                            		
                            	</div>
                            </div>
                        </div>
                        <!-- END TAB 3 -->
                        <!-- TAB 4 -->
                        <div id="features-tab4">
                            <div class="part1">
                            	<div class="container">
                            		<div class="row">
                            			xxx
                            			
                            		</div>
                            		
                            	</div>
                            </div>
                            <div class="part2">
                            	<div class="container">
                            		<div class="row">
                            			xxx
                            			
                            		</div>
                            		
                            	</div>
                            </div>
                            <div class="part3">
                            	<div class="container">
                            		<div class="row">
                            			xxx
                            			
                            		</div>
                            		
                            	</div>
                            </div>
                        </div>
                        <!-- END TAB 4 -->
                        
                    </div>
                <!-- </div> -->
            <!-- </div> -->
        </section>
        <!-- END FEATURES -->
{% endblock %}
